{% extends 'base.html.twig' %}
{% block body %}
    Your todos:
    <ul class="todos">
    {%  for todo in todos %}
        <li>
            <p class="{% if todo.done %}done{% endif %}"
            >{{ todo.description }}</p>
        </li>
    {% endfor %}
    </ul>
    <p>
        <a href="{{ path('new_todo') }}">new todo</a>
    </p>
{% endblock %}
